# Copilot
.github/copilot-instructions.md
next-step.js
next.txt

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo

# Backend (removed)

# Frontend
node_modules/
dist/
coverage/

# E2E
e2e/node_modules/
e2e/results/
e2e/reports/
e2e/blob-report/
backend/server

# Docker
docker-compose.override.yml

workflow.development.env
workflow.production.env
PROD_BACKEND_ENV_FILE
PROD_FRONTEND_ENV_FILE

tmp
.vscode/settings.json
node_modules
tsconfig.tsbuildinfo
